.idea
*.pdf

# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
lab-1/part-2/backup
lab-2/part-2/test
lab-3/part-2/backup
lab-3/part-2/css backup
lab-3/part-3/css/backup
lab-3/part-2/resource/cat_list.jpg
lab-3/part-2/resource/IMG_2486(1).heic
