@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
}

html {
    font-family: "Lora", serif;
}

p {
    font-size: 1rem;
    letter-spacing: 1.1px;
}

h1, h2 {
    font-family: "Arvo", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
}
a {
    color: #cc6666;
}

a:visited {
    color: #fa6666;
}
a:hover {
    color: #aa6666;
    text-decoration: none;
}

a:focus {
    color: #da6660;
    text-decoration: none;
    outline: none;
}

section h2 + p {
    text-indent: 2rem;
}

a[href^="http"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;

    background-size: 100%;
    background-image: url("../resource/external-link-52.png");
}

p, ol, ul {
    margin: 1em 0;
    line-height: 1.4;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}



/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}


nav li {
    list-style: none;
}

nav li a {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 3.5;

    width: 100%;
    border: #aa6666 solid 1px;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #aa6666;
}


/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}

